

.navigation-bar{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    color:white;
    text-decoration: none;
}
a:hover,
a:active{
    color: lightgray;
}

.nav-caption {
    display: inline-block;
    margin-left: 5px;
}